@font-face {
    font-family: "main";
    src: url(../../font/irsans_bold.ttf) format("truetype");
}

@font-face {
    font-family: "main";
    src: url(../../font/irsans_regular.ttf) format("truetype");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


table {
    border-collapse: collapse;
}

body,
html {
    font-family: 'main';
}

body {
    font-size: 1rem;
    line-height: 1.5;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

:focus-visible {
    outline: none;
}

a:hover {
    text-decoration: none;
}

article {
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ebebeb;
}

::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 94, 129);
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    font-family: 'main' !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 700;
}


p {
    font-size: 1rem;
}

input {
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'main' !important;
}


.container {
    width: 1320px;
    margin: 0 auto;
}

@media only screen and (max-width: 1400px) {
    .container {
        width: 1140px;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        width: 680px;
    }
}

@media only screen and (max-width: 720px) {
    .container {
        width: 90%;
    }
}